$font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-size-base         : 14px;
$line-height-base       : 1.5;

$primary-color          : #2699f4;

$border-nor-color       : #b8c2cc;
$border-hover-color     : #5c5f66;
$border-click-color     : #2699f4;

$placeholder-color      : #b3b3b3;
$disabled-color         : #ccc;

$shadow                 : 0 0 8px 0 rgba(0, 0, 0, 0.2);

$border-radius-base     : 4px;